body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 400px;
    text-align: center;
    margin-top: 40px;
  }
  
  .container-hooks {
    width: 400px;
    text-align: left;
    margin-top: 55px;
  }
  
  .container-hooks h1 {
    text-align: left;
    font-size: 36px;
    color: black;
    font-weight: bolder;
  }
  
  .container-hooks p {
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
  }
  
  .logo {
    width: 80%;
    height: auto;
  }
  
  h1 {
    text-align: left;
    font-weight: lighter;
    font-size: 32px;
    color: #888;
    margin-bottom: 5px;
  }
  
  p {
    margin-top: 0;
    text-align: left;
    font-size: 14px;
  }
  
  .container hr {
    width: 100%;
  }
  
  .checkbox-list {
    display: block;
    text-align: left;
  }
  
  .checkbox-item {
    font-size: 16px;
    display: block;
    margin: 20px 0 20px 0;
    width: 100%;
  }
  
  .checkbox-input {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .checkbox-item input {
    margin-right: 10px;
  }
  
  .btn {
    border: 0;
    background-color: #37B7C3;
    color: #fff;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
  }