/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

body {
  font-family:Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 400px;
  text-align: center;
  margin-top: 40px;
}

.container-hooks {
  width: 400px;
  text-align: left;
  margin-top: 55px;
}

.container-hooks h1 {
  text-align: left;
  font-size: 36px;
  color: black;
  font-weight: bolder;
}

.container-hooks p {
  text-align: left;
  font-size: 18px;
  font-weight: bolder;
}

.logo {
  width: 80%;
  height: auto;
}

h1 {
  text-align: left;
  font-weight: lighter;
  font-size: 32px;
  color: #888;
  margin-bottom: 5px;
}

p {
  margin-top: 0;
  text-align: left;
  font-size: 14px;
}

.container hr {
  width: 100%;
}

.checkbox-list {
  display: block;
  text-align: left;
}

.checkbox-item {
  font-size: 16px;
  display: block;
  margin: 20px 0 20px 0;
  width: 100%;
}

.checkbox-input {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox-item input {
  margin-right: 10px;
}

.btn {
  border: 0;
  background-color: #37B7C3;
  color: #fff;
  width: 100%;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
}
