@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #32012F;
  --border-color: #000000;
}

[data-theme='dark'] {
  --bg-color: #191919;
  --text-color: #ffffff;
  --primary-color: #F97300;
  --border-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--border-color);
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; 
}

.carousel {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Rasio aspek 16:9 */
  overflow: hidden;
}

.carousel-slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.carousel-slide.active {
  display: flex;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}

.favorite-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.favorite-button.favorited {
  color: #E53E3E;
}

.favorite-button:hover {
  background-color: #F7FAFC;
}